/* Bootstrap overrides */

.btn {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}
.itunesChart {
	font-family: 'Rubik', sans-serif;
	color: #222;
}
.itunesChart__entry {
	height: 140px;
	position: relative;
	margin-bottom: 25px;
	transition: .4s;
	background-color: #fff;
}
.itunesChart__entry--top, .itunesChart__entry:first-child {
    flex: 0 0 100%;
    max-width: 100%;
    height: 220px;
}
.itunesChart__entry__image {
	border-radius: 4px;
	height: auto;
	background-size: cover;
}
.itunesChart__entry__text {
	font-family: 'Domine', serif;
	font-size: 13px;
	text-align: left;
	line-height: 1.3;
}
.itunesChart__entry:first-child .itunesChart__entry__text {
	font-size: 15px;
}
.itunesChart__entry__title {
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.itunesChart__entry:first-child .itunesChart__entry__title {
	font-size: 20px;
}
.itunesChart__entry__bullet {
	position: absolute;
	border-radius: 3px;
	top: 4px;
	left: 18px;
	z-index: 1;
	color: #eee;
	min-width: 18px;
	padding: 0 4px;
	background-color: rgba(0, 0, 0, .6);
	font-weight: bold;
	font-size: 14px;
}
.itunesChart__entry__buy{
	position: absolute;
	bottom: 4px;
}